In [1]:
import pandas as pd

## IS 362 â€“ Week 5 Assignment

** 1.What is the northernmost airport in the United States? **

In [51]:
airport = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')
airport[(airport['tzone'].str.contains('America'))].sort_values('lat',ascending=[False]).head()

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9.0,A,America/Anchorage

** Answer : Wiley Post Will Rogers Mem airport **

You can sort csv data in descending order of latitude. You also searched for tzone data with only the keyword amarica to search only airports in the US. This allows you to find the top five most northerly airports.

** 2.What is the easternmost airport in the United States? **

In [56]:
airport = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')
airport[(airport['tzone'].str.contains('Anchorage')==False)&(airport['tzone'].str.contains('America')==True)].sort_values('lon',ascending=[False]).head()

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5.0,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5.0,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5.0,A,America/New_York

** Answer : Eastport Municipal Airport **

You can sort csv data in descending order of longitude. We also searched for tzone data with only the keyword amarica to search only airports in the US. However, the results obtained include anchorage. Because the anchorage is not the eastern one, the results that include the anchorage are excluded.

** 3.On February 12th, 2013, which New York area airport had the windiest weather? **

In [67]:
weather = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv")
weather
weather[(weather['year']==2013)&(weather['month']==2)&(weather['day']==12)&(weather['origin'].str.contains('LGA|JFK'))].sort_values('wind_speed',ascending=[False]).head(1)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18433,LGA,2013,2,12,7,42.98,26.06,50.94,290.0,23.0156,26.485892,0.0,1007.1,10.0,2013-02-12T07:00:00Z

** Answer : LaGuardia Airport **

Only data corresponding to 2013, February and 12 days of data were filtered. You also can added JFK and LGA to search only airports in New York. Only the first line of the result was searched for the highest one data.